
.LogIn, .SignUp{
    width: 350px;
    height: 350px;
    border: 2px lightgrey;
    border-style:solid;
    border-radius: 15px;
    margin:auto;
    margin-top: 150px;
    overflow-wrap: anywhere;
    background: white;
}

.Title{
    text-align: center;
}

.FullName, .Email, .Password{
    padding-left: 12px;
}

.getFullName, .getEmail, .getPassword{
    margin-left: 14px;
    height: 25px;
    width: 300px;
    border-radius: 15px;
    padding-left: 8px;
}

.InvalidInput{
    margin-left: 14px;
    color: blue;
}

.InvalidInput:hover{
    cursor:pointer;
}

.isSubmission, .isValidate{
    height: 35px; 
    width: 300px; 
    margin-left: 20px; 
    font-size: 14pt; 
    color: white; 
    background-color: darkgray; 
    border-radius: 12px ;
    border-style: none;
}

.isValidate:hover{
    background-color: lightgray;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}